.form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textarea {
  resize: none;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--border-muted);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: var(--accent-primary);
  color: var(--text-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--accent-secondary);
}

.error {
  color: var(--accent-danger);
  font-size: 0.85rem;
}


.loginPrompt {
  color: var(--text-secondary);
  font-style: italic;
  margin-bottom: 1rem;
}